

body {
    background: #F1F3FA;
    height: 100%;
    width: 100%;
    margin: 0;
  }

/* Profile sidebar */
.bd-sidebar {
    padding: 10px 0 0px 0;
    height: 100vh;
    background: #fff;
    position: relative;
}
.profile-sidebar {
    height: 150px;
    width: 100%;
    position: relative;
}

/* User profile*/
.avatar {
    width:50px;
    height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.username-id {
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Raleway;
}
.user-status {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    width: 90%; 
    color: orange; 
}

/* message and search */
.message-and-search-box {
    border-top: 1px solid grey;
    position: absolute;
    width: 100%;
    top: 160px;
    bottom: 0;
}
.search-bar {
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;
    width: 96%;

}

/* container for the messages in the sidebar */
.messages-sidebar {
    position: absolute;
    width: 100%;
    margin-top: 43px;
}

.table-row {
    height: 60px;
}

/* tile of the sidebar that has a snippet of the message */
.sidebar-message-tile {
    position: absolute;
    margin-left: -2px;
    margin-top: -4px;
    width: 96%;
    height: 50px;
}

#new-chat-icon {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#sign-out-button {
    float: left;
    margin-left: 0px;
}

/* picture of the other user sending the message */
.other-user-pic {
    position: absolute;
    margin-left: 0px;
    width: 50px;
    height: 50px;
}
.message-pic {
    position: absolute;
    height:50px;
    width: 50px;
}

.message-preview {
    height: 100%;
    margin-left: 50px;
    position: relative;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sender-name {
    font-style: italic;
    font-family: Raleway;
    padding-left: 5px;
}

.message-time {
    float:right;
    font-family: Raleway;
}

.message-snippet {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding-left: 5px;
}

.success tr
{
    background-color:red !important;
}

#search-audio-video {
    padding-top: 10px;
    float: right;
}

#chat-header-name {
    text-align: center;
}

.message-from-me li {
    margin-right: 0px;
    width: 15px;
    float: right;
}

.message-from-other li {
    margin-left: 0px;
    width: 15px;
    float: left;
}

.borderless li{
    border: 0 none;
}

#message-display {
    margin-left: -12px;
    margin-right: -8px;
    height:640px;
    background-color:white;
    overflow: scroll;
    border-bottom: solid #DCDCDC;
    border-top: solid #DCDCDC;
    border-radius: 10px;
}

.sender-message-photo {
    display: inline-block;
    margin-left: 0px;
}

.message-photo {
    height: 50px;
    width: 50px;
}

.message-text {
    display: inline-block;
    margin-left: 5px;
}

.my-message-text {
    display: inline-block;
    margin-right: 5px;
}

.message-timstamp {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.message-body {
    border-radius: 15px 50px;
    background: #dceedc;
    padding: 5px;
}

.my-message-body {
    border-radius: 50px 15px;
    background: #dceedc;
    padding: 5px;
}

#chat-header {
    background-color:white;
    font-family: Raleway;
    margin-left: -12px;
    margin-right: -8px;
    margin-top: 5px;
    border-radius: 10px;
}

#input-box {
    margin-left: -13px;
    width: 103% !important;
}

#input-button {
    padding-right: -5px;
    height: 55px;
    background-color: #dceedc;
} 