

body {
    background: #F1F3FA;
  }


/* Profile sidebar */
.bd-sidebar {
    padding: 20px 0 10px 0;
    height:100vh;
    background: #fff;
}

/* Profile picture*/
.avatar {
    width:100px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*User name and blockstack id*/
.user-name-id {
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*User status*/
.user-status {
    display: block;
    font-weight: italic;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    width: 95%; 
    color: orange; 
}